
<div class="input mt-4">
    <form class="postSingIn" method="POST" >
        <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>

        {{#if error}}
        <div class="col-md-10">
            <div class="alert alert-danger" name="alert" role="alert">
                {{error}}
            </div>
        {{/if}}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
